<h1>Daylight App!</h1>

<div id="daylight-game">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="morning col-md-3" onclick="changeColor(1)">Morning</div>
    <div class="col-md-1"></div>
    <div class="afternoon col-md-3" onclick="changeColor(2)">Afternoon</div>
    <div class="col-md-1"></div>
    <div class="evening col-md-3" onclick="changeColor(3)">Evening</div>
  </div>
</div>
