<h1>Daylight App!</h1>

<div id="daylight-game">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="box col-md-3" onclick="changeDay('yellow')">Morning</div>
    <div class="col-md-1"></div>
    <div class="box col-md-3" onclick="changeDay('orange')">Afternoon</div>
    <div class="col-md-1"></div>
    <div class="box col-md-3" onclick="changeDay('gray')">Evening</div>
  </div>
</div>
